.campo {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 90%;
}

.campo label {
  color: var(--branco);
}

.campo select {
  background-color: var(--cor-de-fundo);
  border-radius: 10px;
  height: 60px;
  border: none;
  color: var(--branco);
  width: 100%;
}