.secao {
  margin-bottom: 30px;
}

.secaoTitulo {
  display: inline-block;
  border-radius: 10px;
  width: 180px;
  text-align: center;
  padding: 14px 0;
  margin-bottom: 20px;
}

.videosContainer {
  display: flex;
  overflow-x: scroll;
  gap: 12px;
  padding-bottom: 16px;
}

.videosContainer::-webkit-scrollbar {
  width: 5px;
  height: 10px;
}

.videosContainer::-webkit-scrollbar-thumb {
  background: #2271D1;
  border-radius: 20px;
}